.fixed-banner {
 height: 600px;
 position: relative;
 overflow: hidden;
}
.fixed-banner .carousel-inner,
.fixed-banner .carousel-item {
 height: 100%;
}


footer {
 position: static;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: #467daa;
 padding: 3px;
 text-align: center;
 line-height: 44px;
 color: white;
 font-size: small;
}

.btn {
 background-color: #3f91c0;
 border-color: #3f91c0;
 color: white;
}
.btn:hover {
 background-color: #1871ac;
 border-color: #1871ac;
}
.navbar {
 background-color: #d7dbe7 !important;
}

.card{
    color: #243670;
}

.abtme{
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
}

.card-header{
    text-align: center;
    font-size: 30px;
    font-weight:400;
}

blockquote{
    font-size: medium !important;
    color: #1871ac;
}

body{
    background-image: linear-gradient(to bottom, #fafdff, #dff1ff);
}

